.navbar>navbar-expand-lg>navbar-light{
  background-color: transparent !important;
}

.title-navbar{
  color: black;
}

.nav-link{
  color: black !important;
  font-weight: bolder;
  font-size: 18px;
}

