.navbar>navbar-expand-lg>navbar-light{
  background-color: transparent !important;
}

.title-navbar{
  color: black;
  font-weight: bold;
  font-family: Girassol, cursive;
  font-size: 30px;
}

.nav-link{
  color: whitesmoke !important;
  font-weight: bolder;
  font-size: 21px;
  font-family: Girassol, cursive;
  margin-right: 7% !important;
}

.dropdown-menu show{
  margin-left: 6%;
}

.fa fa-lg{
  font-size: 26px;
}

img{
  width: 50px;
  height: 50px;
}

